.WalletPageIndex {
   background-color: var(--green);
   width: 100vw;
   min-height: 100vh;
}
.userInfo {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(231, 253, 236);
   max-width: 400px;
   margin: auto;
   padding: 25px;
   border-radius: 20px;
   color: black;
   font-weight: bold;
   margin-bottom: 40px;
}
