.summaryContainer {
   display: flex;
   color: black;

   align-items: center;

   max-width: 400px;
   margin: 20px auto;
}
.buttonGroup {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 30px;
   gap: 10px;
}
.filterButton {
   padding: 10px;
   border-radius: 20px;
   width: 240px;
   background-color: var(--blue);

   &:hover {
      cursor: pointer;
      background-color: blue;
      transition: all 0.4s;
   }
}
.list {
   display: flex;
   max-width: 100%;

   gap: 20px;
   li {
      display: flex;
      width: 100%;

      span {
         display: flex;
         width: 100%;
         gap: 20px;
         justify-content: left;
         align-items: center;
      }
   }
   p {
      font-weight: bold;
   }
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   p {
      text-align: center;
      padding: 20px;
      width: 200px;
      border-radius: 10px;
      background-color: var(--coral);
   }
}
