.card {
   display: flex;
   flex-direction: row;
   background-color: var(--lightGray);
   max-width: 360px;
   min-width: 200px;
   padding: 0 24px;
   gap: 16px;
   height: 400px;
   align-items: center;
   border: 1px solid rgb(132, 201, 238);
   justify-content: space-around;
   border-radius: 20px;

   @media (max-width: 735px) {
      margin: auto;
      // width: 90vw;
   }
}

.infoContainer {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.pokemonInformation {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;

   h3 {
      color: var(--blue);
      font-size: 16px;
      font-weight: 700;
   }
   p {
      font-size: 14px;
      font-weight: 700;
      padding: 5px;
      background-color: rgb(167, 172, 167);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      color: white;
   }
}

.actionButtonsContainer {
   display: flex;
   align-items: center;
   font-size: 10px;
   gap: 10px;
   align-items: center;
   justify-content: center;

   img {
      margin-right: 8px;
   }
}

.actionButton {
   padding: 20px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
   background-color: var(--green);
   font-size: 18px;
   &:hover {
      cursor: pointer;
      transition: 0.4s ease;
      background-color: rgb(62, 221, 62);
   }
}

.moreInfo {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: left;
   gap: 10px;
   color: black;

   span {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   h2 {
      background-color: var(--blue);
      border-radius: 10px;
      padding: 10px;
   }
   p {
      border-radius: 20px;
      padding: 5px;
   }
}

.currentValue {
   p {
      color: white;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--blue);
      text-align: center;
   }
}

.pokemonTypes {
   background-color: rgb(243, 238, 238);
   padding: 10px;
   border-radius: 5px;
   color: rgb(67, 94, 120);
}
