.IndexPage {
   background-color: var(--blue);
   width: 100vw;
}

.BottomImage {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 24px 40px 0 40px;
}
.BottomImage img {
   width: 200px;
   margin-bottom: 20px;
}
