.textSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
   max-width: 380px;

   text-align: center;
   margin: 24px auto;
}

.textSection h2 {
   font-weight: 500;
   color: #fff;
   font-size: 36px;
   z-index: 1;
}

.textSection p {
   font-weight: 400;
   font-size: 20px;
   text-align: center;

   line-height: 24px;
   z-index: 1;
}

.blueText {
   color: var(--blue);
}
